* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.top {
    height: 40vh;
    width: 100vw;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.green {
    background-color: #53b92b;
}

.red {
    background-color: rgb(221, 39, 39);
}

.budgetNumbers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.budgetTotal {
    padding-bottom: 20px;
    font-size: 2rem;
}

.expenses, .income {
    text-align: center;
    width: 40vh;
    padding: 20px 10px;
    color: rgb(218, 218, 218);
}

.expensesText, .incomeText {
    text-transform: uppercase;
    display: inline-block;
    color: rgb(218, 218, 218);
}

#inputBar {
    width: 60vw;
    height: 5vh;
    margin: 0 auto;
    padding: 10px 0;
}

.inputType {
    width: 10%;
}

.inputDesc {
    width: 50%;
}

.inputValue {
    width: 20%;
}

.inputBtn {
    width: 10%;
}

#budgetContainer {

}